<h2><%= @survey.name %> Survey </h2>

<table class= "table table-striped">
<tr>
  <th>
    Question
  </th>
  <th>
    Answered
  </th>
</tr>
<% @questions.each do |question| %>
<tr>
  <td>
    <a href="/question/<%= question.id %>"><%= question.description %></a>
  </td>
  <td>
    <%= (question.answered) %>
  </td>
    <% end %>
  </tr>

</table>

<a href="/survey/<%= @survey.id %>/question/new" button class="btn btn-primary btn-sm" type="submit">Add Question</button></a>


<form action="/survey/<%= @survey.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger btn-sm" type="submit">Delete</button>
</form>
